{% extends 'news/index_2.html' %}
{% load static humanize  %}

{% load i18n %}

{% block content %}
<section id="page-title">
	<div class="container clearfix">
		<h1>{% trans 'Нийтлэл' %}</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'website-homepage'%}">{% trans 'Нүүр хуудас' %}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{% trans 'Нийтлэл' %}</li>
		</ol>
	</div>
</section><!-- #page-title end -->


<!-- Content

		============================================= -->
<section id="content">

	<div class="content-wrap" style="padding:0px; padding-top:25px;">
		<div class="container clearfix">
			<div class="tagcloud">
			{% for category in category_list %}
				<a href="/news?news_id={{category.id}}" value="{{ news_id }}">{{ category }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section id="content">

	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row gutter-40 col-mb-80">
				<!-- Post Content
						============================================= -->
				<div class="postcontent col-lg-9">
					<!-- Posts
							============================================= -->
					<div id="posts" class="row grid-container gutter-40">
						{% for news in news_list %}
						<div class="entry col-12">
							<div class="grid-inner row no-gutters">
								<div class="entry-image col-md-4">
									<a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}"
										data-lightbox="{{ news.image.url }}"><img class="image_fade"
											src="{% if news.image %}{{news.image.url}}{% endif %}"
											alt="{{ news.title }}" style="height:200px; width:250px;"></a>
								</div>
								<div class="col-md-8 pl-md-4">
									<div class="entry-title title-sm">
										<h4 style="color: gray;"> {{ news.category }}</h4>
										<h2><a
												href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">{{ news.title }}</a>
										</h2>

									</div>
									<div class="entry-content">
										<p>{{ news.content|safe|striptags|slice:":200"}}...</p>

									</div>
									<div class="entry-meta">
										<ul>
											<li><i class="icon-calendar3"></i> {{ news.created_on|naturalday:'Y-m-d'}}
											</li>
											<li><a href="#"><i class="icon-user"></i> {{ news.author }}</a></li>
											<li><a href="#"><i class="icon-newspaper"></i></a></li>
											<a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}"
												class="more-link" style="padding-bottom:8px;">{% trans 'Цааш унших' %} ...</a>
										</ul>
									</div>

								</div>
							</div>
						</div>
						{% endfor %}
					</div><!-- #posts end -->
					{% include 'news/pagination.html'%}
				</div><!-- .postcontent end -->
				{% include 'news/sidebar.html'%}
			</div>

		</div>
	</div>
</section><!-- #content end -->
{% endblock content %}