{% extends 'news/index_2.html' %}
   {% load static %}
   {% load i18n %}

   {% load humanize %}
   {% block content %}

	<section id="page-title">

			<div class="container clearfix">
				<h1>Мэдээ</h1>
				<ol class="breadcrumb">
					<li><a href="#">Нүүр хуудас</a></li>
					<li><a href="#">Мэдээ</a></li>
					<li class="active">Мэдээ</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">

						<div class="single-post nobottommargin">

							<!-- Single Post
							============================================= -->
							<div class="entry clearfix">

								<!-- Entry Title
								============================================= -->
								<div class="entry-title">
									<h2>{{ news.title }}</h2>
								</div><!-- .entry-title end -->

								<!-- Entry Meta
								============================================= -->
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i> {{ news.created_on|naturalday:'Y-m-d'}}</li>
									<li><a href="#"><i class="icon-user"></i> {{ news.author }}</a></li>
									<li><i class="icon-folder-open"></i> <a href="#">{{ news.category }}</a>, <a href="#"></a></li>
								
									<li><a href="#"><i class="icon-newspaper"></i></a></li>
								</ul><!-- .entry-meta end -->

								<!-- Entry Content
								============================================= -->
								<div class="entry-content notopmargin">

									<!-- Entry Image
									============================================= -->
									<div class="entry-image alignleft">
										<a href="#"><img src="{% if news.image %}{{news.image.url}}{% endif %}" alt="Blog Single"></a>
									</div><!-- .entry-image end -->

									<p> {{ news.content|safe}} </p>
									<!-- Post Single - Content End -->

								
									

									<div class="clear"></div>

									<!-- Post Single - Share
									============================================= -->
									<!-- Post Single - Share End -->

								</div>
							</div><!-- .entry end -->

					
						

							


						</div>

					</div><!-- .postcontent end -->

					<!-- Sidebar
					============================================= -->
					<div class="sidebar nobottommargin col_last clearfix">
						<div class="sidebar-widgets-wrap">

							<div class="widget clearfix">

								<div class="tabs nobottommargin clearfix" id="sidebar-tabs">

									<ul class="tab-nav clearfix">
										<li><a href="#tabs-1">Онцлох</a></li>
										<li><a href="#tabs-2">Зөвлөгөө</a></li>
										
									</ul>

									<div class="tab-container">

										<div class="tab-content clearfix" id="tabs-1">
											<div id="popular-post-list-sidebar">
                                            {% for news in special %}
												<div class="spost clearfix">
													<div class="entry-image">
														<a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}" class="nobg"><img class="img-circle" src="{% if news.image %}{{news.image.url}}{% endif %}" alt=""></a>
													</div>
													<div class="entry-c">
														<div class="entry-title">
															<h4><a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">{{ news.title }}</a></h4>
														</div>
														
													</div>
												</div>
                                            {% endfor %}
												

												

											</div>
										</div>
										<div class="tab-content clearfix" id="tabs-2">
											<div id="recent-post-list-sidebar">

												<div class="spost clearfix">
													<div class="entry-image">
														<a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/1.jpg" alt=""></a>
													</div>
													<div class="entry-c">
														<div class="entry-title">
															<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
														</div>
														<ul class="entry-meta">
															<li>10th July 2014</li>
														</ul>
													</div>
												</div>

												<div class="spost clearfix">
													<div class="entry-image">
														<a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/2.jpg" alt=""></a>
													</div>
													<div class="entry-c">
														<div class="entry-title">
															<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
														</div>
														<ul class="entry-meta">
															<li>10th July 2014</li>
														</ul>
													</div>
												</div>

												<div class="spost clearfix">
													<div class="entry-image">
														<a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/3.jpg" alt=""></a>
													</div>
													<div class="entry-c">
														<div class="entry-title">
															<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
														</div>
														<ul class="entry-meta">
															<li>10th July 2014</li>
														</ul>
													</div>
												</div>

											</div>
										</div>
										

									</div>

								</div>

							</div>

							<div class="widget clearfix">

								<h4>Зургын сан</h4>
								<div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">

									<div class="oc-item">
										<div class="iportfolio">
											<div class="portfolio-image">
												<a href="#">
													<img src="{% static 'base/assets/images/portfolio/4/3.jpg' %}" alt="Mac Sunglasses">
												</a>
												<div class="portfolio-overlay">
													<a href="http://vimeo.com/89396394" class="center-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
												</div>
											</div>
											<div class="portfolio-desc center nobottompadding">
												<h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
												<span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
											</div>
										</div>
									</div>

									<div class="oc-item">
										<div class="iportfolio">
											<div class="portfolio-image">
												<a href="portfolio-single.html">
													<img src="images/portfolio/4/1.jpg" alt="Open Imagination">
												</a>
												<div class="portfolio-overlay">
													<a href="images/blog/full/1.jpg" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
												</div>
											</div>
											<div class="portfolio-desc center nobottompadding">
												<h3><a href="portfolio-single.html">Open Imagination</a></h3>
												<span><a href="#">Media</a>, <a href="#">Icons</a></span>
											</div>
										</div>
									</div>

								</div>

							</div>

							<div class="widget clearfix">

								<h4>Ангиллал</h4>
								<div class="tagcloud">
                                {% for category in category_list %}
									<a href="#">{{category}}</a>
                                {% endfor %}
								</div>

							</div>

						</div>

					</div><!-- .sidebar end -->

				</div>

			</div>

		</section><!-- #content end -->

        {% endblock %}