{% block content %}
<div class="postcontent col-lg-9">

    {% comment %} <div class="row">
        <div class="col-md-4 mb-5 mb-md-0 text-center">
            <div class="rounded-skill mb-0" data-color="#00ACEE" data-size="150" data-percent="90" data-width="2"
                data-speed="3000">Чадварлаг хамт олон</div>
        </div>

        <div class="col-md-4 mb-5 mb-md-0 text-center">
            <div class="rounded-skill mb-0" data-color="#3B5998" data-size="150" data-percent="75" data-width="3"
                data-speed="4000">Нээлттэй боломжууд</div>
        </div>

        <div class="col-md-4 mb-5 mb-md-0 text-center">
            <div class="rounded-skill mb-0" data-color="#EA4C89" data-size="150" data-percent="80" data-width="4"
                data-speed="2000">Тав тухтай очин</div>
        </div>
    </div>


    <div class="divider"><i class="icon-circle"></i></div> {% endcomment %}

    <h3>Боломжууд</h3>

    <ul class="skills">
        <li data-percent="100">
            <span>Чадварлаг хамт олон</span>
            <div class="progress">
                <div class="progress-percent">
                    <div class="counter counter-inherit counter-instant"><span data-from="0" data-to="100"
                            data-refresh-interval="30" data-speed="1100"></span>%</div>
                </div>
            </div>
        </li>
        <li data-percent="100">
            <span>Ур чадвар</span>
            <div class="progress">
                <div class="progress-percent">
                    <div class="counter counter-inherit counter-instant"><span data-from="0" data-to="100"
                            data-refresh-interval="30" data-speed="1100"></span>%</div>
                </div>
            </div>
        </li>
        <li data-percent="100">
            <span>Стандарт</span>
            <div class="progress">
                <div class="progress-percent">
                    <div class="counter counter-inherit counter-instant"><span data-from="0" data-to="100"
                            data-refresh-interval="30" data-speed="1100"></span>%</div>
                </div>
            </div>
        </li>
        <li data-percent="100">
            <span>Тав тухтай очин</span>
            <div class="progress">
                <div class="progress-percent">
                    <div class="counter counter-inherit counter-instant"><span data-from="0" data-to="100"
                            data-refresh-interval="30" data-speed="1100"></span>%</div>
                </div>
            </div>
        </li>

    </ul>

</div><!-- .postcontent end -->
{% endblock %}