{% extends 'news/index_2.html' %}
{% load static humanize  %}
{% load i18n %}
{% block content %}
<!-- Page Title
		============================================= -->
<div class="section lazy mt-5 p-0 min-vh-75 lazy-loaded"
	style="background-position: center center; background-repeat: no-repeat; background-size: cover; background-image: url({% static 'base/assets/images/homebanner/hrdetail.JPG' %});"
	data-ll-status="loaded">
	<div class="shape-divider" data-shape="rounded-5" data-height="150" id="shape-divider-3559"><svg
			xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 140" preserveAspectRatio="none" class="op-ts op-1">
			<path class="shape-divider-fill" d="M0 0v.48C18.62 9.38 297.81 140 639.5 140 993.24 140 1280 0 1280 0z"
				opacity="0.3"></path>
			<path class="shape-divider-fill" d="M0 .6c14 8.28 176.54 99.8 555.45 119.14C952.41 140 1280 0 1280 0H0z"
				opacity="0.5"></path>
			<path class="shape-divider-fill"
				d="M726.29 101.2C1126.36 79.92 1281 0 1281 0H1c.05 0 325.25 122.48 725.29 101.2z"></path>
		</svg></div>

	<div class="shape-divider" data-shape="rounded-5" data-position="bottom" data-height="150" id="shape-divider-3687">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 140" preserveAspectRatio="none" class="op-ts op-1">
			<path class="shape-divider-fill" d="M0 0v.48C18.62 9.38 297.81 140 639.5 140 993.24 140 1280 0 1280 0z"
				opacity="0.3"></path>
			<path class="shape-divider-fill" d="M0 .6c14 8.28 176.54 99.8 555.45 119.14C952.41 140 1280 0 1280 0H0z"
				opacity="0.5"></path>
			<path class="shape-divider-fill"
				d="M726.29 101.2C1126.36 79.92 1281 0 1281 0H1c.05 0 325.25 122.48 725.29 101.2z"></path>
		</svg></div>
	<div class="container" style="z-index: 2; margin-top: 250px;">

		<h1 class="nott"
			style="color: black;  font-size: 40px;   font-weight: 600;  letter-spacing: 2px; text-transform: none !important;">
			{% trans "Хүний нөөц" %}
		</h1>




	</div>
</div>

<!-- Content
		============================================= -->

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div id="side-navigation" class="row" data-plugin="tabs">

				<div class="col-md-6 sticky-sidebar-wrap col-lg-4">
					<div class="sticky-sidebar">

						<ul class="sidenav">
							<li><a href="#snav-content1"><i class="icon-screen"></i>{% trans "Нээлттэй ажлын байр" %}<i
										class="icon-chevron-right"></i></a></li>
							<li><a href="#snav-content2"><i class="icon-user21"></i>{% trans 'Сонгон шалгаруулалт' %}<i
										class="icon-chevron-right"></i></a></li>
							<li><a href="#snav-content4"><i class="icon-gift"></i>{% trans 'Нийгмийн халамж' %}<i
										class="icon-chevron-right"></i></a></li>

							{% comment %} {% for file in file %}
							<li><a href="{{ file.anket.url }}"><i class="icon-line-paper"></i>Анкет татах<i
										class="icon-chevron-right"></i></a>
							</li>
							{% endfor %} {% endcomment %}



						</ul>
					</div>
				</div>

				<div class="col-md-6 col-lg-8">
					<div id="snav-content1">
						{% include "hr/counter.html"%}

						<div class="divider divider-rounded divider-center"><i class="icon-pill"></i></div>

						<div class="row">
							<div class="col-8">
								<h5>{% trans 'Зарлагдсан ажлын байр' %}</h5>
							</div>

							<div class="col-4">
								<h5>{% trans 'Анкет хүлээн авах сүүлийн цаг' %}</h5>
							</div>
						</div>
						{% if hr %}

						{% for hr in hr %}
						<div class="toggle toggle-border">
							<div class="toggle-header">
								<div class="toggle-icon">
									<i class="toggle-closed icon-line-plus"></i>
									<i class="toggle-open icon-line-minus"></i>
								</div>
								<div class="toggle-title">
									<div class="row">
										<div class="col-8">
											<p>{{ hr.title }}</p>
										</div>
										<div class="col-4">
											<i class="icon-calendar3" style="color: #4e9c6a;">
												{{ hr.deadline|naturalday:'Y-m-d' }}
											</i>
										</div>
									</div>
								</div>
							</div>
							<div class="toggle-content">
								{{ hr.description }}
								<a href="{% url 'humandetailview' hr.slug %}"
									class="button button-mini button-border button-circle button-dark"><i
										class="icon-line-corner-down-right"></i>Дэлгэрэнгүй</a>
							</div>
						</div>


						{% endfor %}
						{% else %}
						<p> {% trans 'Зарлагдсан ажлын байр байхгүй байна' %}<p>
								{% endif %}
								<div class="divider divider-rounded divider-center"><i class="icon-pill"></i></div>
								<div class="fslider" data-smooth-height="false">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><img class="lazy"
													data-src="{% static 'base/assets/images/about/neelttei.jpg'%}"
													alt="Нээлттэй ажилын байр"></div>
										</div>
									</div>
								</div>
								<p style="font-weight: bold;">Манай компанид ажилласнаар танд нээгдэж буй боломжууд:</p>
								<div class="row-fluid">
									<div class="span12">
										<ul class="check-list">
											<li>Олон улсад хүлээн зөвшөөрөгдсөн GMP стандарт хангасан тохилог ажлын байр
											</li>
											<li>Хувь хүн мэргэжлийнхээ хувьд өсөн хөгжих боломж</li>
											<li>Зах зээлд өрсөлдөхүйц цалин хөлс, үр дүнд тулгуурласан шагнал урамшуулал
											</li>
											<li>Шинийг санаачлагч, манлайлагч байх урам зориг, хүсэл тэмүүлэл</li>
										</ul>
									</div>
								</div>
					</div>

					<div id="snav-content2">
						{% include "hr/process.html" %}
						<div class="fslider" data-smooth-height="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide"><img class="lazy"
											data-src="{% static 'base/assets/images/pages/hr/selection1.jpg' %}"
											alt="Slider 1"></div>
								</div>
							</div>
						</div>
						<h3 style="margin-top: 25px;">Ажилтан сонгон шалгаруулах үе шат:
						</h3>
						<ul class="iconlist">
							<li><i class="icon-line-check-square" style="color: gray;" style="color: gray;"></i> Ажил
								горилогч нээлттэй ажлын байр үзэх
							</li>
							<li><i class="icon-line-check-square" style="color: gray;"></i> Холбогдох анкетыг бөглөнө.
								Анкетыг гараар болон
								цахим
								хэлбэрээр бөглөх боломжтой.
							</li>
							<li><i class="icon-line-check-square" style="color: gray;"></i> Анкетын шалгаруулалт хийх.
								Анкет хүлээн авах
								сүүлийн ажлын 3
								өдрийн дотор хийнэ.
							</li>
							<li><i class="icon-line-check-square" style="color: gray;"></i> Анхан шатны ярилцлага.
								Анкетын шалгаруулалтад
								тэнцсэн ажил
								горилогчийг анхан шатны
								ярилцлагад урих
							</li>
							<li><i class="iicon-line-check-square"></i> Мэргэжлийн шалгалтын тест. Шаардлагатай ажлын
								байранд
								мэргэжлийн шалгалт авна.
							</li>
							<li><i class="icon-line-check-square" style="color: gray;"></i> 2 дахь шатны ярилцлага.
								Анхан шатны ярилцлага,
								мэргэжлийн
								шалгалтад тэнцсэн ажил
								горилогчийг 2 дахь шатны ярилцлагад урих
							</li>

							<li><i class="icon-line-check-square" style="color: gray;"></i> Ажилд авах санал. Сонгон
								шалгаруулалтад тэнцсэн
								ажил
								горилогчтой утсаар холбогдож
								саналаа хэлнэ.
							</li>
							<li><i class="icon-line-check-square" style="color: gray;"></i> Ажилд авах. Хөдөлмөрийн
								гэрээ байгуулна.
							</li>
							<li><i class="icon-line-check-square" style="color: gray;"></i> Монос группийн ажилтан
								боллоо. Танд баяр хүргэе.
							</li>


						</ul>
					</div>



					<div id="snav-content4">
						<img class="alignleft img-responsive"
							src="{% static 'base/assets/images/pages/zorilgo/taatai-orchin.jpg' %}"
							style="height:285px; width:300px">

						<p>Монос Группийн соёлыг өөриймсөг сэтгэлгээтэй чадварлаг ажилтнууд маань бүтээдэг, тиймдээ ч
							Моносын соёл бол
							Моносын бахархал юм. Монос Групп нь Монголын Улсын ТОП 10 аж ахуйн нэгжийн нэг юм.<br>
							Энэ
							нь
							хамт
							олны маань хичээл
							зүтгэл, харилцагч, хэрэглэгчдийн маань итгэл найдвар, түншлэлтэй салшгүй холбоотой билээ.
							<br>

							Монос
							Групп нь
							ажилтнууддаа ажиллах таатай орчин, сурч хөгжих боломж, нийгмийн халамж үзүүлэх болон бусад
							олон
							төрлийн хөнгөлөлт
							урамшуулал, хангамж олгон ажиллаж байна.</p>


						<div class="accordion accordion-bg" data-collapsible="true">

							<div class="accordion-header">
								<div class="accordion-icon">
									<i class="accordion-closed icon-ok-circle" style="color: gray;"
										style="color: gray;"></i>
									<i class="accordion-open icon-remove-circle" style="color: gray;"
										style="color: gray;"></i>
								</div>
								<div class="accordion-title">
									Ажиллах таатай орчин
								</div>
							</div>
							<div class="accordion-content">
								<div class="row">
									<div class="col-4">
										<img class="alignleft img-responsive"
											src="{% static 'base/assets/images/pages/hr/orchin.jpg' %}" alt="Image">
									</div>
									<div class="col-8">
										<ul class="iconlist">
											<li><i class="icon-line-marquee-plus"></i> Чадварлаг мэргэжлийн нөхөрсөг
												хамт олон

											</li>
											<li><i class="icon-line-marquee-plus"></i> Шинэ санал санаачилгыг байнга
												дэмжин урамшуулдаг

											</li>
											<li><i class="icon-line-marquee-plus"></i> Ажилтан бүрт өсөн дэвших боломж
												адил тэгш олгогдсон
											</li>
											<li><i class="icon-line-marquee-plus"></i> Гүйцэтгэлд тулгуурласан
												урамшууллын тогтолцоотой
											</li>
											<li><i class="icon-line-marquee-plus"></i> Мэргэжлийн шалгалтын тест.
												Шаардлагатай ажлын
												байранд
												мэргэжлийн шалгалт авна.
											</li>
											<li><i class="icon-line-marquee-plus"></i>Бизнесийн бусад салбарт хөрвөн
												ажиллах боломж
											</li>

											<li><i class="icon-line-marquee-plus"></i> Өрсөлдөхүйц цалин урамшуулал

											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="accordion-header">
								<div class="accordion-icon">
									<i class="accordion-closed icon-ok-circle" style="color: gray;"></i>
									<i class="accordion-open icon-remove-circle" style="color: gray;"></i>
								</div>
								<div class="accordion-title">
									Эрүүл мэнд & Тусламж, дэмжлэг
								</div>
							</div>
							<div class="accordion-content">
								<div class="row">
									<div class="col-7">
										Монос Групп нь ажилтнуудынхаа нийгмийн асуудалд тогтмол анхаарч ажилладаг.
										Тухайлбал:<br>
										<ul class="iconlist">
											<li><i class="icon-line-square-check"></i> Гэрлэх ёслолоо хийх
											</li>
											<li><i class="icon-line-square-check"></i> Гэр бүлд нь шинэ хүн мэндлэх
											</li>
											<li><i class="icon-line-square-check"></i> Ар гэрт нь гачигдал тохиолдох
											</li>
											<li><i class="icon-line-square-check"></i> Ажилтнуудаа жилд бүр эмнэлгийн
												бүрэн үзлэг шинжилгээнд болон
												гэнэтийн ослын даатгалд хамруулах, эрүүл мэндийн дэмжлэг туслалцаа
												үзүүлэх
											</li>
											<li><i class="icon-line-square-check"></i> Өндөр насны тэтгэвэрт гарахад
											</li>
											<li><i class="icon-line-square-check"></i> Удаан жилийн нэмэгдэл
											</li>
										</ul>
									</div>
									<div class="col-5">
										<img class="alignrigth img-responsive"
											src="{% static 'base/assets/images/pages/hr/tuslamj.jpg' %}" alt="Image">
										<img class="alignrigth img-responsive"
											src="{% static 'base/assets/images/pages/hr/tuslamj2.jpg' %}" alt="Image">
									</div>
								</div>

							</div>

							<div class="accordion-header">
								<div class="accordion-icon">
									<i class="accordion-closed icon-ok-circle" style="color: gray;"></i>
									<i class="accordion-open icon-remove-circle" style="color: gray;"></i>
								</div>
								<div class="accordion-title">
									Орон сууцны болон бусад зээл
								</div>
							</div>
							<div class="accordion-content">
								<div class="row">
									<div class="col-8">
										Монос Группт оруулсан хувь нэмэр, ажлын гүйцэтгэлийг үндэслэн ажилтнууддаа орон
										сууцны хөнгөлөлттэй зээл олгодог
										төдийгүй ажилтан нь “Монос Дэлгэрэх” Хадгаламж Зээлийн Хоршоонд хуримтлалын сан
										үүсгэж, Инвестос ББСБ-гаас
										цалингийн зээл авах боломжтой.

									</div>
									<div class="col-4">
										<img class="alignrigth img-responsive"
											src="{% static 'base/assets/images/pages/hr/oronsuuts.jpg' %}" alt="Image">
									</div>
								</div>

							</div>
							<div class="accordion-header">
								<div class="accordion-icon">
									<i class="accordion-closed icon-ok-circle" style="color: gray;"></i>
									<i class="accordion-open icon-remove-circle" style="color: gray;"></i>
								</div>
								<div class="accordion-title">
									Шагнал урамшуулал
								</div>
							</div>
							<div class="accordion-content">
								<div class="row">
									<div class="col-8">
										Ажилтны гүйцэтгэлийг шударгаар, ил тод үнэлэх гүйцэтгэлийн үнэлгээний
										урамшууллын тогтолцоотой бөгөөд жил бүр
										тэргүүний шилдэг ажилтнуудаа шалгаруулан урамшуулдаг.

									</div>
									<div class="col-4">
										<img class="alignrigth img-responsive"
											src="{% static 'base/assets/images/pages/hr/shagnal.jpg' %}" alt="Image">
									</div>
								</div>
							</div>
							<div class="accordion-header">
								<div class="accordion-icon">
									<i class="accordion-closed icon-ok-circle" style="color: gray;"></i>
									<i class="accordion-open icon-remove-circle" style="color: gray;"></i>
								</div>
								<div class="accordion-title">
									Олон нийтийн арга хэмжээ
								</div>
							</div>
							<div class="accordion-content">
								<div class="row">
									<div class="col-4">
										<img class="alignrigth img-responsive"
											src="{% static 'base/assets/images/pages/hr/arga-hemjee.jpg' %}"
											alt="Image">
										<img class="alignrigth img-responsive"
											src="{% static 'base/assets/images/pages/hr/arga-hemjee2.jpg' %}"
											alt="Image">

									</div>
									<div class="col-8">
										Ажилтнуудын дунд компанийн соёлыг эерэгээр төлөвшүүлэх, ажлын бүтээмжийг
										дээшлүүлэх, өөрийгөө нээн харуулах
										боломжийг олгох, багаар ажиллах, хамт олонч уур амьсгал бүрдүүлэх зорилгоор олон
										нийтийг хамарсан олон
										сонирхолтой үйл ажиллагааг зохион байгуулдаг ба Цасны баяр, “Моносчууд наадмын
										талбайд”-Баярын жагсаал,
										Бэсрэг наадам, Моносчууд ургацын талбайдаа, “Бид нэг хүсэлтэй” спортын их
										наадам, “Бид Моносчууд” урлагийн
										наадам, “Бүтээлч орчин хөгжих ирээдүй” шинэ санааны уралдаан, Монос Экспо, Шинэ
										жил айсуй арга хэмжээ, Эрүүл
										мэндийн аян зэргийг дурдаж байна. Мөн жил бүр Цагаан сарын баярыг өргөн
										тэмдэглэдэг ба Ахмадын баярыг угтаж
										Монос групп компаниас тэтгэвэрт гарсан нийт ахмадуудаа хүлээн авч хүндэтгэл
										үзүүлдэг.

									</div>
								</div>
							</div>
							<div class="accordion-header">
								<div class="accordion-icon">
									<i class="accordion-closed icon-ok-circle" style="color: gray;"></i>
									<i class="accordion-open icon-remove-circle" style="color: gray;"></i>
								</div>
								<div class="accordion-title">
									Номын сан
								</div>
							</div>
							<div class="accordion-content">
								<div class="row">
									<div class="col-8">
										Ажилтнууд маань мэргэжлийн, гадаад хэлний, уран зохиолын, танин мэдэхүйн зэрэг
										олон нэр төрлийн номуудаас сонголтоо
										хийн уншиж судлах, мэдлэг оюунаа тэлэх боломжтой.


									</div>
									<div class="col-4">
										<img class="alignrigth img-responsive"
											src="{% static 'base/assets/images/pages/hr/library.png' %}" alt="Image">
									</div>
								</div>
							</div>
							<div class="accordion-header">
								<div class="accordion-icon">
									<i class="accordion-closed icon-ok-circle" style="color: gray;"></i>
									<i class="accordion-open icon-remove-circle" style="color: gray;"></i>
								</div>
								<div class="accordion-title">
									Хөнгөлөлт
								</div>
							</div>
							<div class="accordion-content">
								<div class="row">
									<div class="col-4">
										<img class="alignrigth img-responsive"
											src="{% static 'base/assets/images/pages/hr/hungulult.jpg' %}" alt="Image">
									</div>
									<div class="col-8">
										Ажилтнууддаа халуун хоол, гар утасны хөнгөлөлт болон ажлын онцлогоос хамаарч
										шатахууны хөнгөлөлт эдлүүлэх зэрэг
										ажилтнуудынхаа нийгмийн нөхцөлийг сайжруулахад анхааран ажиллаж байна.

									</div>
								</div>
							</div>

						</div>
					</div>


				</div>

			</div>

		</div>
	</div>
</section><!-- #content end -->
<style>
	li {
		line-height: 46px;
		font-size: 17px;
		text-color: #3e8a4f;
	}

	li .i {
		color: #3e8a4f;
	}

	dl,
	dt,
	dd,
	ol,
	ul,
	li {
		margin: 0;
		padding: 0;
		color: #3e8a4f;
	}

	.toggle-header,
	.accordion-header {

		color: #3e8a4f;

	}

	.alignrigth img-responsive {
		max-width: 100%;
		text-align: center;
		padding: 6px;
		background: #fbfafb;
		border: 1px solid #e7e7e7;
		line-height: 0;
		margin-bottom: 12px;
	}
</style>

{% endblock %}