{% load static humanize  %}

{% block content %}
<style>
    .process-steps li {
        pointer-events: none;
    }
</style>

<div id="processTabs" data-plugin="tabs" class="customjs">
    <ul class="process-steps row col-mb-30">
        <li class="col-sm-6 col-lg-3">
            <a href="#ptab1" class="i-circled i-bordered i-alt mx-auto">1</a>
            <h5>Анкет бөглөх</h5>
        </li>
        <li class="col-sm-6 col-lg-3">
            <a href="#ptab2" class="i-circled i-bordered i-alt mx-auto">2</a>
            <h5>Өрөгдөл хүлээн авах</h5>
        </li>
        <li class="col-sm-6 col-lg-3">
            <a href="#ptab3" class="i-circled i-bordered i-alt mx-auto">3</a>
            <h5>Сонгон шалгаруулалт</h5>
        </li>
        <li class="col-sm-6 col-lg-3">
            <a href="#ptab4" class="i-circled i-bordered i-alt mx-auto">4</a>
            <h5>Дууссан</h5>
        </li>
    </ul>
    <div>
        <div id="ptab1">



            <a href="#" class="button button-3d m-0 float-right tab-linker" rel="2">Дараах
                &rArr;</a>

        </div>
        <div id="ptab2">

            <div class="line line-sm mb-4"></div>
            <a href="#" class="button button-3d m-0 tab-linker" rel="1">Өмнөх</a>
            <a href="#" class="button button-3d m-0 float-right tab-linker" rel="3">Дараах</a>
        </div>
        <div id="ptab3">

            <div class="line line-sm mb-4"></div>
            <a href="#" class="button button-3d m-0 tab-linker" rel="2">Өмнөх</a>
            <a href="#" class="button button-3d m-0 float-right tab-linker" rel="4">Дараах</a>
        </div>
        <div id="ptab4">
            <div class="alert alert-success">
                <strong>Бидэнтэй нэгдэхийг урьж байна.</strong>

            </div>
            <div class="line line-sm mb-4"></div>
            <a href="#" class="button button-3d m-0 tab-linker" rel="2">Өмнөх</a>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="divider divider-center"><i class="icon-circle"></i></div>

{% endblock %}