{% extends 'news/index_2.html' %}
{% load static humanize  %}
{% load i18n %}



{% if request.user == course.subject.course.students and request.user.is_authenticated %}


{% block post_detail_link %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Page info -->


<!-- Page info end -->

<div id="video" class='container'>
	<div class="alert alert-info" role="alert">
		Бүрэн дэлгэцээр үзэхийн тулд видеог 2 удаа дарна уу!
	</div>
	<div class='row'>
		<div class='col-sm-7 col-md-7 col-lg-7'>

			{% if lesson is not None %}
			<iframe width="460" height="315" src="https://www.youtube.com/embed/{{ lesson.youtube_code }}"
				allowfullscreen></iframe>
			<h3> {{ lesson.title}} </h3>
			<div class="blog-post-title">
				<p style="overflow-wrap:break-word;"> {{ lesson.content|safe  }}</p>
			</div>
			<h3> Суртчилгаа</h3>
			<iframe width="460" height="315" src="https://www.youtube.com/embed/{{ lesson.embedurl }}"
				allowfullscreen></iframe>
			<div class="text-center" style="margin-top: 25px; margin-bottom: 25px;">
				<a href="javascript:history.back()" class="button button-border button-circle button-dark">Буцах</a>
			</div>
			{% endif %}
		</div>


		<div class='col-sm-5 col-md-5'>
			<div class="tabs tabs-bordered clearfix" id="tab-2">

				<ul class="tab-nav clearfix">
					<li><a href="#tabs-5">Хичээлүүд</a></li>
					<li><a href="#tabs-6">Тайлбар</a></li>
					<li><a href="#tabs-7">Асуулт</a></li>
					<li class="hidden-phone"><a href="#tabs-8">Шалгалт</a></li>
				</ul>

				<div class="tab-container">

					<div class="tab-content clearfix" id="tabs-5">
						<div class="cl-item" id="lessons">

							<div class="cl-item" id="lessons">
								<h4 style="padding-top: 15px;">Энэ ангид орох хичээлүүд</h4>
								{% if course.lessons != None  %}
								{% for lesson in course.lessons %}
								<div data-aos="fade-right">
									<h5 class="pb-3" style="border-bottom: 1px solid gray; padding-bottom: 10px;">Хичээл
										№- {{lesson.position}} <a id="vazhdo"
											href="{{ lesson.get_absolute_url }}#video"><span
												class="pl-4">{{lesson.title}}</span></a></h5>
								</div>
								{% endfor %}
								{% endif %}
								{% if course.lessons|length == 0 %}
								<div class="alert alert-danger">Хичээл байхгүй байна.!!</div>
								{% endif %}
							</div>

						</div>
					</div>
					<div class="tab-content clearfix" id="tabs-6">
						Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa
						metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada,
						metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem.
						Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing
						adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere
						viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus
						pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris
						consectetur tortor et purus.
					</div>
					<div class="tab-content clearfix" id="tabs-7">
						<section class="content">
							<div class="container-fluid">

								<div class="row">
									<div class="col-md-12">
										<!-- general form elements -->
										<div class="card card-primary">
											<div class="card-header">
												<h3 class="card-title">Leave a Feedback Message</h3>
											</div>
											<!-- /.card-header -->
											{% comment %} Display Messages {% endcomment %}
											{% if messages %}
											<div class="form-group">
												<div class="col-12">
													{% for message in messages %}
													{% if message.tags == "error" %}
													<div class="alert alert-danger alert-dismissible fade show"
														role="alert" style="margin-top: 10px;">
														{{ message }}
														<button type="button" class="close" data-dismiss="alert"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													{% elif message.tags == "success" %}
													<div class="alert alert-success alert-dismissible fade show"
														role="alert" style="margin-top: 10px;">
														{{ message }}
														<button type="button" class="close" data-dismiss="alert"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													{% endif %}
													{% endfor %}
												</div>
											</div>
											{% endif %}
											<form method="POST" action="">
												{% csrf_token %}
												<div class="card-body">

													<div class="form-group">
														<label>Feedback Message </label>
														<textarea name="feedback_message" class="form-control" rows="6"
															placeholder="Feedback Message"></textarea>
													</div>
												</div>
												<!-- /.card-body -->
												<div class="card-footer">
													<button type="submit" class="btn btn-primary">Leave a
														Feedback</button>
												</div>
											</form>

										</div>
										<!-- /.card -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="card card-success">
											<div class="card-header">
												<h3 class="card-title">Feedback History</h3>
											</div>

											<div class="card-body">
												<div class="table-responsive">
													<table class="table">
														<thead class="thead-light">
															<tr>
																<th>#ID</th>
																<th>Feedback Message</th>
																<th>Feedback Reply</th>
															</tr>
														</thead>
														{% for row in feedback_data %}
														<tr>
															<td>{{ row.id }}</td>
															<td>{{ row.feedback }}</td>
															<td>{{ row.feedback_reply }}</td>
														</tr>
														{% endfor %}
													</table>
												</div>
											</div>
											<!-- /.card-body -->
										</div>
									</div>
								</div>

							</div><!-- /.container-fluid -->
						</section>
					</div>
					<div class="w-100"></div>
					<div class="col-12">
						<button type="submit" name="realestate-enquiry-submit" class="btn btn-secondary">Илгээх</button>
					</div>
					<input type="hidden" name="prefix" value="realestate-enquiry-">
					</form>
				</div>
				<div class="tab-content clearfix" id="tabs-8">
					<ol class="activity-feed">
						<p><em>Та зөвхөн 1 удаа санал өгөх боломжтой.</em></p>
						<ol class="activity-feed">
							<a href="{% url 'quiz_start_page' slug=lesson.slug %}"
								class="button button-border button-circle button-dark">{% trans "Шалгалт өгөх" %}</a>
						</ol>
					</ol>
				</div>

			</div>

		</div>

	</div>
</div>
</div>


<style>
	.blog-post-title p {
		padding: 5px 0;
		border-top: 1px solid #b4bfc3;
	}

	.blog-post-title i {
		padding-right: 50px;
	}

	.hidden-desktop {
		display: none !important;
	}
</style>
{% endblock content %}


{% else%}
<p>hello</p>

{% endif %}