{% extends 'news/index_2.html' %}
{% load crispy_forms_tags %}
{% load static humanize  %}
{% load i18n %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="video" class='container'>
	<div class="alert alert-info" role="alert">
		Бүрэн дэлгэцээр үзэхийн тулд видеог 2 удаа дарна уу!
	</div>
	<div class='row'>
		<div class='col-sm-7 col-md-7 col-lg-7'>
			<iframe width=700 height=200
				src="https://www.youtube.com/live_chat?v=UVxU2HzPGug&embed_domain=www.monospharma.mn"></iframe>
			{% if lesson is not None %}
			<iframe width="460" height="315" src="https://www.youtube.com/embed/{{ lesson.youtube_code }}"
				allowfullscreen></iframe>
			{% comment %} <div class="button-container">
				<a href="#" style="color: #3f8f56; border-color: #3f8f56;"
					class="button button-border button-rounded button-fill course-button"><span>Өмнөх</span></a>
				<a href="#" style="color: #3f8f56; border-color: #3f8f56; margin-right:10px;"
					class="button button-border button-rounded button-fill course-button"><span>Дараах</span></a>
			</div> {% endcomment %}
			<div class="fancy-title title-bottom-border">
				<h4>{{ lesson.title }}</h4>
			</div>

			<div class="blog-post-title">
				<p style="overflow-wrap:break-word;"> {{ lesson.content|safe  }}</p>
				<h4><i class="icon-files">Хичээлд хавсаргасан файлууд</i> </h4>
				<ul>
					<li><a
							href="{% if lesson.pdf_file %}{{ lesson.pdf_file.url }}">{{ lesson.pdf_file_name }}{% endif %}</a>
					</li>
				</ul>
			</div>
			<div class="fancy-title title-bottom-border">
				<h4>Суртчилгаа</h4>
			</div>
			<iframe width="460" height="315" src="https://www.youtube.com/embed/{{ lesson.embedurl }}"
				allowfullscreen></iframe>
			<div class="text-center" style="margin-top: 25px; margin-bottom: 25px;">
				<a href="javascript:history.back()" class="button button-border button-circle button-dark">Буцах</a>
			</div>
			{% endif %}
		</div>
		<div class='col-sm-5 col-md-5'>
			<div class="tabs tabs-bordered clearfix" id="tab-2">
				<ul class="tab-nav clearfix">
					<li><a href="#tabs-5">Хичээлүүд</a></li>
					<li><a href="#tabs-6">Тайлбар</a></li>
					<li><a href="#tabs-7">Асуулт</a></li>
					<li class="hidden-phone"><a href="#tabs-8">Шалгалт</a></li>
				</ul>
				<div class="tab-container">
					<div class="tab-content clearfix" id="tabs-5">
						<div class="cl-item" id="lessons">
							<div class="cl-item" id="lessons">
								<h4 style="padding-top: 15px;">Энэ ангид орох хичээлүүд</h4>
								{% if course.lessons != None  %}
								{% for lesson in course.lessons %}
								<div data-aos="fade-right">
									<h5 class="pb-3" style="border-bottom: 1px solid gray; padding-bottom: 10px;">Хичээл
										№- {{lesson.position}} <a id="vazhdo"
											href="{{ lesson.get_absolute_url }}#video"><span
												class="pl-4">{{lesson.title}}</span></a></h5>
								</div>
								{% endfor %}
								{% endif %}
								{% if course.lessons|length == 0 %}
								<div class="alert alert-danger">Хичээл байхгүй байна.!!</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="tab-content clearfix" id="tabs-6">
						Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa
						metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada,
						metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem.
						Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing
						adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere
						viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus
						pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris
						consectetur tortor et purus.
					</div>
					<div class="tab-content clearfix" id="tabs-7">
						<section class="content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">

										<form action="" method="POST">
											{% csrf_token %}
											{{ form.as_p }}
											<input type="submit" value="Submit" />
										</form>
									</div>
								</div>
							</div><!-- /.container-fluid -->
						</section>
					</div>
					<div class="tab-content clearfix" id="tabs-8">
						{% if course.state.subject == "over" %}
						Хичээл дууссан байна
						{% else %}
						<ol class="activity-feed">
							<p><em>Та зөвхөн 1 удаа санал өгөх боломжтой.</em></p>
							<ol class="activity-feed">
								<a href="{% url 'quiz_start_page' slug=lesson.slug %}"
									class="button button-border button-circle button-dark">{% trans "Шалгалт өгөх" %}</a>
							</ol>
						</ol>
						{% endif %}
						<input type="hidden" name="prefix" value="realestate-enquiry-">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock content %}
<style>
	.blog-post-title p {
		padding: 5px 0;
		border-top: 1px solid #b4bfc3;
	}

	.blog-post-title i {
		padding-right: 50px;
	}

	.hidden-desktop {
		display: none !important;
	}

	.course-button {
		color: #3f8f56;
		border-color: #3f8f56;

	}
</style>
<script src="{% static 'base/js/core/jquery.3.2.1.min.js' %}"></script>

<script src="{% static 'conf/js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'conf/js/core/popper.min.js' %}"></script>
<script src="{% static 'conf/js/core/bootstrap.min.js' %}"></script>
<!-- jQuery UI -->
<script src="{% static 'conf/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'conf/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
<script src="{% static 'conf/js/plugin/sweetalert/sweetalert.min.js' %}"></script>

<script src="{% static 'conf/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

<!-- jQuery Scrollbar -->
<script src="{% static 'conf/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<!-- Atlantis JS -->
<script src="{% static 'conf/js/atlantis.min.js' %}"></script>
<script src="{% static 'conf/js/pdfobject.min.js' %}"></script>
{% block js %}
<script type='text/javascript'>
	var myInterval = setInterval(change_live, 40000);

	function change_live() {
		var today = new Date();
		if (today.getHours() == 14 && today.getMinutes() == 30) {
			window.location.reload(1);
			clearInterval(myInterval);
		}
	};

	$(function () {
		PDFObject.embed("{% static 'conf/pdf/tailan.pdf' %}", "#report_pdf");

		$('#f_question').on('keypress', function (e) {
			if (e.which == 13)
				send_review();
		});
	});

	function send_review() {
		let val = $('#f_question').val();

		if (val) {
			var content = {};
			$.post('/shareholder/meeting/review/{{meeting.id}}/', {
					'question': val,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				}, function () {})
				.done(function () {
					content.message = "Баярлалаа";
					content.title = 'Таны асуулт амжилттай илгээгдлээ.';
					content.icon = 'fa fa-bell';

					$.notify(content, {
						type: 'primary',
						placement: {
							from: 'top',
							align: 'right'
						},
						time: 1000,
					});
					$('#f_question').val('');
				})
				.fail(function (err) {

					content.message = 'Уучлаарай';
					content.title = 'Асуулт илгээхэд алдаа гарлаа.';
					content.icon = 'fa fa-bell';

					$.notify(content, {
						type: 'warning',
						placement: {
							from: 'top',
							align: 'right'
						},
						time: 1000,
					});
				})
		}
	};
</script>
{% endblock %}