{% extends 'news/index_2.html' %}

{% load static humanize  %}

{% load i18n %}


{% block content %}
<!-- Page Title
		============================================= -->
<section id="page-title">
	<div class="container clearfix">
		<h1>Бүтээгдэхүүн</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'website-homepage'%}">Нүүр хуудас</a></li>
			<li class="breadcrumb-item"><a href="#">Бүтээгдэхүүн</a></li>
			<li class="breadcrumb-item active" aria-current="page">Сонгосон бүтээгдэхүүн</li>
		</ol>
	</div>
</section><!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="single-product">
				<div class="product">
					<div class="row gutter-40">
						<div class="col-md-6">
							<!-- Product Single - Gallery
									============================================= -->
							<div class="product-photo">
								<div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
									<div class="flexslider">
										<div class="slider-wrap" data-lightbox="gallery">
											<div class="slide"
												data-thumb="https://back.emonos.mn/{% if product.photo %}{{ product.photo.url}}{% endif %}">
												<a href="" data-lightbox="gallery-item"><img
														src="https://back.emonos.mn/{% if product.photo %}{{ product.photo.url}}{% endif %}"></a>
											</div>
										</div>
									</div>
								</div>
							</div><!-- Product Single - Gallery End -->
						</div>
						<div class="col-md-6 product-desc">
							<div class="d-flex align-items-center justify-content-between">
								<!-- Product Single - Price
										============================================= -->
								<h3>{{ product.name }}</h3>
								<div class="product-price"><ins>{{ product.price }}</ins></div>
							</div>
							<div class="line"></div>
							<!-- Product Single - Short Description
									============================================= -->
							<p>{{ product.description|safe }}</p>
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">Олон улсын нэршил:</span><span
										class="text-dark font-weight-semibold">{{ product.international_name}}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">Тогтолцоо:</span><span
										class="text-dark font-weight-semibold">{{ product.categories}}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">Ангилал:</span><span
										class="text-dark font-weight-semibold">{{ product.classification }}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">Төрөл:</span><span
										class="text-dark font-weight-semibold">{{ product.producttype }}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">Хэлбэр:</span><span
										class="text-dark font-weight-semibold">{{ product.productForm}}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">Жор:</span><span
										class="text-dark font-weight-semibold">{{ product.jor}}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">Даатгал:</span><span
										class="text-dark font-weight-semibold">{{ product.daatgal}}</span>
								</li>
							</ul>
							<a href="{{ product.link }}" target="_blank" class=" button button-small button-circle
								button-green" style="background-color: #42935b; !important"><i class="icon-hand-right"></i>Худалдаж
								авах</a>

							<!-- Product Single - Share
									============================================= -->

						</div>

						<div class="w-100"></div>

						<div class="col-12 mt-5">

							<div class="tabs clearfix mb-0" id="tab-1">
								<ul class="tab-nav clearfix">
									<li><a href="#tabs-1"><i class="icon-align-justify2"></i><span
												class="d-none d-md-inline-block"> Орц</span></a></li>
									<li><a href="#tabs-2"><i class="icon-info-sign"></i><span
												class="d-none d-md-inline-block"> Хэрэглэх заавар</span></a></li>
								</ul>
								<div class="tab-container">
									<div class="tab-content clearfix" id="tabs-1">
										<p>{{ product.ingredients|safe }}</p>
									</div>
									<div class="tab-content clearfix" id="tabs-2">
										<p> {{ product.suggest|safe }}</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="line"></div>

		</div>
	</div>
</section><!-- #content end -->


{% endblock %}