{% extends 'news/index_2.html' %}

{% load static humanize  %}


{% block content %}

<style>
	.widget-container-shadow {
		outline: 2px solid rgba(188, 187, 155, 0.22);

		outline-offset: 19px;
	}

	ul,
	#myUL {
		list-style-type: none;
	}

	#myUL {
		margin: 0;
		padding: 0;
	}

	.caret {
		cursor: pointer;
		user-select: none;
		/* Prevent text selection */
	}

	.caret::before {
		content: "\25B6";
		color: #2F4B70;
		display: inline-block;
		margin-right: 6px;
	}

	.caret-down::before {
		transform: rotate(90deg);
	}

	/* Hide the nested list */
	.nested {
		display: none;
	}

	.active {
		display: block;
	}

	li::before {
		content: none !important;
		font-family: "font-icons";
		display: inline-block;
		position: relative;
		top: 1px;
		left: 0;
	}

	.product-desc {

		margin-bottom: -50px;
	}

	.product-category>p>a {
		color: black;
		padding-bottom: 0px;
	}

	.product-title {
		margin-bottom: -25px;
	}

	.product-price {
		position: absolute;
		bottom: 0px;
		left: 38%;
	}

	.product-image>a,
	.product-image .slide a,
	.product-image img {
		height: 95%;
		object-fit: contain;
	}

	.grid-inner {
		border-radius: 15px !Important;
		border-color: #009473 !Important;
		-webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.43);
		box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.43);
		height: 400px !important;
	}

	.content-wrap {
		padding: 50px;
	}

	.widget-container-shadow {
		outline: 2px solid rgba(188, 187, 155, 0.22);

		outline-offset: 19px;
	}

	ul,
	#myUL {
		list-style-type: none;
	}

	#myUL {
		margin: 0;
		padding: 0;
	}

	.caret {
		cursor: pointer;
		user-select: none;
		/* Prevent text selection */
	}

	.caret::before {
		content: "\25B6";
		color: #2f7751;
		display: inline-block;
		margin-right: 6px;
	}

	.caret-down::before {
		transform: rotate(90deg);
	}

	/* Hide the nested list */
	.nested {
		display: none;
	}

	.active {
		display: block;
	}

	li::before {
		content: none !important;
		font-family: "font-icons";
		display: inline-block;
		position: relative;
		top: 1px;
		left: 0;
	}

	.btn-success {
		background-color: #2F4B70 !important;
		border-color: #2F4B70 !important;
		border-radius: 3px;
	}

	.form-control {
		border-radius: 15px;
	}

	.category-class {
		-webkit-box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 15%);
		box-shadow: 2px 5px 15px 5px rgb(0 0 0 / 15%);
		border-radius: 37px;

	}

	.category-class:hover {
		transform: scale(1.050);

	}

	.widget-container-shadow {
		outline: 0px solid rgb(255 255 255 / 22%) !important;
		outline-offset: 19px;
	}

	.product {
		margin-top: 20px;

	}

	.product-title h4 {
		padding: 10px 15px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
</style>
<section id="page-title">

	<div class="container clearfix">
		<h1>Бүтээгдэхүүн</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'website-homepage'%}">Нүүр хуудас</a></li>
			<li class="breadcrumb-item active" aria-current="page">Бүтээгдэхүүн</li>
		</ol>
	</div>

</section><!-- #page-title end -->

<section id="content">
	<div class="content-wrap" style="padding-top: 40px; padding-bottom: 0px;">
		<div class="container clearfix">
			<div class="row justify-content-center mw-lg mx-auto gutter-20" style" justify-content: flex-end;
				!important">

				<form action="#" role="form" class="notopmargin nobottommargin" style="    padding-left: 500px;">
					<div class="input-group divcenter">
						<input type="text" class="form-control" name="search_text"
							placeholder="Энд хайх утгаа бичнэ үү." value="{{ search_text }}"
							style="padding-left:100px; padding-right:100px;">
						<span class="input-group-btn">
							<button class="btn btn-success" type="submit"><i class="icon-line-search"></i></button>
						</span>
					</div>
				</form>




			</div>
		</div>
	</div>
</section>
<!-- Content
		============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row gutter-40 col-mb-80">

				<!-- Post Content
						============================================= -->
				<div class="postcontent col-lg-9 order-lg-last">
					{% comment %} {% for cat in cat %}
					<h2> {{ cat.name }} </h2>
					{% endfor %} {% endcomment %}
					<!-- Shop
							============================================= -->
					{% if product %}
					<div id="shop" class="shop row grid-container gutter-20" data-layout="fitRows">
						{% for product in page_obj %}
						<div class="product col-md-4 col-sm-6 text-center">
							<div class="grid-inner card border-0 h-shadow h-translatey-sm all-ts">
								<div class="product-desc">
									<div class="product-title">
										<h4><a
												href="{% if product %}{% url 'product-product-detail-view' product.pk  %} {% endif %}">{{ product.name }}</a>
										</h4>
									</div>

									<div class="product-category">
										<p><a href="">{{ product.category.all|join:", " }}</a>
										</p>
									</div>
								</div>
								<div class="product-image">
									<a
										href="https://back.emonos.mn/{% if product %}{% url 'product-product-detail-view' product.pk  %} {% endif %}"><img
											src="https://back.emonos.mn/{% if product.photo %}{{ product.photo.url}}{% endif %}"
											alt="Product Image"></a>


									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between"
											data-hover-animate="fadeIn" data-hover-speed="400">

											<a href="{% if product %}{% url 'product-product-detail-view' product.pk  %} {% endif %}"
												class="btn btn-dark"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-price">
									<p><a href="" style="color: #2F4B70;">₮{{ product.price }}</a>
									</p>
								</div>
							</div>
						</div>


						<!--Modal -->

						{% comment %} <div class="modalone mfp-hide" id="{{ product.product_id}}" style="position: absolute !important; top: 50% !important; left: 50% !important; transform: translate(-50%, -50%)
							!important;">
							<div class="block divcenter">
								<div class="product modal-padding" style="background-color: white;">
									<div class="row gutter-40 col-mb-50">
										<div class="col-md-6">
											<div class="product-photo">
												<div class="fslider" data-pagi="false">
													<div class="flexslider">
														<img
															src="{% if product.photo %}{{ product.photo.url}}{% endif %}">
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6 product-desc">
											<h3
												style="margin-bottom: 6px; margin-top: 25px; border-bottom: 1px solid #dadada;">
												{{ product.name }}</h3>
											<div class="product-price">
												<p>Үнэ : <ins>{{ product.price }}</ins>
													<p>
											</div>
											<p> Ангиллал: {{ product.categories }}<p>
													<p> ХЭРЭГЛЭХ ЗААВАР : <p>{{ product.suggest }}</p>
													</p>
													<p> БҮТЭЭГДЭХҮҮНИЙ НАЙРЛАГА : <p>{{ product.ingredients }} </p>
													</p>
													<div class="line"></div>
													<ul class="iconlist">
														<li><i class="icon-caret-right"></i> Dynamic Color Options
														</li>
														<li><i class="icon-caret-right"></i> Lots of Size Options
														</li>
														<li><i class="icon-caret-right"></i> 30-Day Return Policy
														</li>
													</ul>
													<h6> <a href="{{ product.link }}"> <button> Худалдан авах
															</button></a></h6>
													<div class="card product-meta mb-0">
													</div>
										</div>
									</div>
								</div>
							</div>
						</div> {% endcomment %}
						<!-- Endmodal -->
						{% endfor %}
					</div><!-- #shop end -->
					{% else %}

					<p> Бүтээгдэхүүн хоосон байна </p>
					{% endif%}
					{% include "news/pagination.html" %}
				</div><!-- .postcontent end -->

				<!-- Sidebar
						============================================= -->
				<div class="sidebar col-lg-3">
					<div class="sidebar-widgets-wrap">
						<div class="widget widget_links clearfix">
							<div class="widget-container-shadow">
								{% for cat in cat %}
								<img class="category-class" src="{{ cat.photo.url }}">
								<li><i class="arrow-sm-right-heavy-blue"></i></li>
								{% endfor %}
								{% comment %} <h4>Ангиллал</h4> {% endcomment %}
								{% comment %} <div class="line line-xs line-lifestyle"></div> {% endcomment %}
								{% comment %} {% load mptt_tags %} {% endcomment %}
								{% comment %} <ul>
									{% recursetree category %}

									<li>
										<a href="/product?cat_id={{node.id}}" {% if not node.is_leaf_node %}
											data-toggle="dropdown" aria-expanded="true" {% endif %}>{{ node.name }}</a>
										{% if not node.is_leaf_node %}
										<ul class="children">
											{{ children }}
										</ul>
										{% endif %}
									</li>
									{% endrecursetree %}

								</ul> {% endcomment %}





								{% comment %} <ul id="myUL">
									{% recursetree category %}
									<li>
										{% if node.is_leaf_node %}
										<span class="leaf"><a
												href="/product?cat_id={{node.id}}">{{ node.name }}</a></span>
										{% else %}
										<span class="caret parent">{{ node.name }}</span>
										<ul class="nested">
											{{ children }}
										</ul>
										{% endif %}
									</li>
									{% endrecursetree %}
								</ul> {% endcomment %}











								{% comment %} <div class="toggle">

									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-line-plus"></i>
											<i class="toggle-open icon-line-minus"></i>
										</div>
										<div class="toggle-title">
											<a href="/product?cat_id={{node.id}}" {% if not node.is_leaf_node %}
												data-toggle="dropdown" aria-expanded="true"
												{% endif %}>{{ node.name }}</a> </div>
									</div>
									{% if not node.is_leaf_node %}
									<div class="toggle-content" style="display: none;">
										{{ children }}

									</div>
									{% endif %}


								</div> {% endcomment %}

								{% comment %} <ul>
									<li><a href="{% url 'product-product-list'%}" value="{{ cat_id }}">Бүгд</a></li>
									{% for category_product in product %}
									<li><a href="/product?cat_id={{category.id}}"
											value="{{ cat_id }}">{{ category_product.web_category }}</a>
									</li>
									{% endfor %}
									<li><a href="{% url 'product-product-alphabet'%}">Үсгийн дараалал</a></li>


								</ul> {% endcomment %}
							</div>
						</div>
						{% comment %} <div class="widget-container-shadow" style="margin-top:100px">
							<div class="widget widget-filter-links clearfix">
								<h4>Хайлт</h4>
								<div class="line line-xs line-lifestyle"></div>

								<form action="#" role="form" class="notopmargin nobottommargin">
									<div class="input-group divcenter">
										<input type="text" class="form-control" name="search_text"
											placeholder="Энд хайх утгаа бичнэ үү." value="{{ search_text }}">
										<span class="input-group-btn">
											<button class="btn btn-success" type="submit"><i
													class="icon-email2"></i></button>
										</span>
									</div>
								</form>

							</div>
						</div> {% endcomment %}


					</div>
				</div><!-- .sidebar end -->
			</div>

		</div>
	</div>
</section><!-- #content end -->





<style>
	modal-center {
		position: fixed !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
	}
</style>

<script>
	'use strict';

	var togglers = document.getElementsByClassName("caret");
	var i;

	for (i = 0; i < togglers.length; i++) {
		togglers[i].addEventListener("click", function () {
			this.parentElement.querySelector(".nested").classList.toggle("active");
			this.classList.toggle("caret-down");
		});
	}
</script>

{% endblock %}