{% extends 'news/index_2.html' %}

{% load static humanize  %}

{% load i18n %}


{% block content %}

<style>
	.icon-line-check{
	    font-size: 20px;
	}
</style>
<!-- Page Title
		============================================= -->
<section id="page-title">
	<div class="container clearfix">
		<h1>{% trans 'Бүтээгдэхүүн' %}</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'website-homepage'%}">{% trans 'Нүүр хуудас' %}</a></li>
			<li class="breadcrumb-item"><a href="{% url "product-product-category-list" %}">{% trans 'Бүтээгдэхүүн' %}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{% trans 'Сонгосон бүтээгдэхүүн' %}</li>
		</ol>
	</div>
</section><!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="single-product">
				<div class="product">
					<div class="row gutter-40">
						<div class="col-md-6">
							<!-- Product Single - Gallery
									============================================= -->
							<div class="product-photo">
								<div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
									<div class="flexslider">
										<div class="slider-wrap" data-lightbox="gallery">
											<div class="slide"
												data-thumb="https://back.emonos.mn/{% if product.photo %}{{ product.photo.url}}{% endif %}">
												<a href="" data-lightbox="gallery-item"><img
														src="https://back.emonos.mn/{% if product.photo %}{{ product.photo.url}}{% endif %}"></a>
											</div>
										</div>
									</div>
								</div>
							</div><!-- Product Single - Gallery End -->
						</div>
						<div class="col-md-6 product-desc">
							<div class="d-flex align-items-center justify-content-between">
								<!-- Product Single - Price
										============================================= -->
								<h3>{{ product.name }}</h3>

							</div>
							<div class="product-price" style="padding-bottom:20px; padding-left:25px;">
								<ins>{{ product.price }}</ins></div>
							<ul class="list-group list-group-flush">
								{% if product.international_name %}
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">{% trans 'Олон улсын нэршил' %}:</span><span
										class="text-dark font-weight-semibold">{{ product.international_name}}</span>
								</li>
								{% else %}
								{% endif %}
								{% comment %} {% if product.categories %}
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">Тогтолцоо:</span><span
										class="text-dark font-weight-semibold">{{ product.categories }}</span>
								</li>
								{% else %}
								{% endif %}{% endcomment %}
								{% if product.classification %}

								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">{% trans 'Ангилал' %}:</span><span
										class="text-dark font-weight-semibold">{{ product.classification }}</span>
								</li>
								{% else %}
								{% endif %}
								{% if product.producttype %}

								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">{% trans 'Төрөл' %}:</span><span
										class="text-dark font-weight-semibold">{{ product.producttype }}</span>
								</li>
								{% else %}
								{% endif %}
								{% if product.productForm %}

								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">{% trans 'Хэлбэр' %}:</span><span
										class="text-dark font-weight-semibold">{{ product.productForm}}</span>
								</li>
								{% else %}
								{% endif %}
								{% if product.jor %}

								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">{% trans 'Жор' %}:</span><span
										class="text-dark font-weight-semibold"><i class="icon-line-check"></i></span>
								</li>
								{% else %}
								{% endif %}
								{% if product.daatgal %}

								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									<span class="text-muted">{% trans 'Даатгал' %}:</span><span
										class="text-dark font-weight-semibold"><i class="icon-line-check"></i></span>
								</li>
								{% else %}
								{% endif %}
							</ul>
							{% comment %} <a href="{{ product.link }}" class=" button button-small button-circle
								button-green" style="background-color: #42935b; !important"><i class="icon-hand-right"></i>Худалдаж
								авах</a> {% endcomment %}
							<a href="{{ product.link }}" target="_blank" class=" button button-small button-circle
								button-green" style="background-color: #2F4B70; !important"><i class="icon-hand-right"></i>{% trans 'Худалдаж авах' %}</a> 
								{% comment %} <a href="{{ product.link }}"
								class="link link-11 text-uppercase">Худалдаж
								авах</a> {% endcomment %}

							<div class="line"></div>


						</div>

						<div class="w-100"></div>


					</div>
					<div class="col-12 mt-5">

						<div class="tabs tabs-alt tabs-tb clearfix ui-tabs ui-corner-all ui-widget ui-widget-content"
							id="tab-8">
							<ul
								class="tab-nav clearfix ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
								<li><a href="#tabs-1"><i class="icon-line-info"></i><span
											class="d-none d-md-inline-block"> {% trans 'Бүтээгдэхүүний тайлбар' %}</span></a></li>
								<li><a href="#tabs-2"><i class="icon-align-justify2"></i><span
											class="d-none d-md-inline-block"> {% trans 'Орц' %}</span></a></li>
								<li><a href="#tabs-3"><i class="icon-info-sign"></i><span
											class="d-none d-md-inline-block"> {% trans 'Хэрэглэх заавар' %}</span></a></li>
								<li><a href="#tabs-4"><i class="icon-warning-sign"></i><span
											class="d-none d-md-inline-block"> {% trans 'Анхааруулга' %}</span></a></li>
							</ul>
							<div class="tab-container">
								<div class="tab-content clearfix" id="tabs-1">
									<p>{{ product.description|safe }}</p>
								</div>
								<div class="tab-content clearfix" id="tabs-2">
									<p>{{ product.ingredients|safe }}</p>
								</div>
								<div class="tab-content clearfix" id="tabs-3">
									<p> {{ product.instructions|safe }}</p>
								</div>
								<div class="tab-content clearfix" id="tabs-4">
									<p> {{ product.warnings|safe }}</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="line"></div>

		</div>
	</div>
</section><!-- #content end -->


{% endblock %}